body{
    background-color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#im1
{
    height:100px;
    width:100px;
    float:left;
    margin-top:-100px;
}
#clock
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.main1
{
    height:400px;
    width:400px;
    background-color: white; 
    border-radius: 200px;
    position: relative;
}
.main1::after{
    transform:rotate(90deg);
}
.main1::after,.main1::before,.marking
{
    content: '';
    position: absolute;
    width:10px;
    height:400px;
    background-color: black;
    z-index:0;
    left:49%;
}
.main1 .marking {
    background: #454547;
    width: 5px;
  }
  
  .main1 .marking.marking-one {
    transform: rotate(30deg)
  }
  .main1 .marking.marking-two {
    transform: rotate(60deg)
  }
  
  .main1 .marking.marking-three {
    transform: rotate(120deg)
  }
  
  .main1 .marking.marking-four {
    transform: rotate(150deg)
  }
  
  .inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 100%;
    z-index: 1;
  }
  
  .inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #4d4b63;
    z-index: 11;
  }
  .hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  
  .hand.hour-hand {
    width: 30%;
    z-index: 3;
  }
  
  .hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
  }
  
  .hand.second-hand {
    background: #ee791a;
    width: 45%;
    height: 2px;
  }